body{
    background-color: #fff;
    color: #3498db;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.wrapper{
    margin: 0 auto;
    padding: 0 10px;
    width: 940px;
}
header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: #02b8dd;
}
header nav {
    float: right;
}
header nav ul li{
    float: left;
    display: inline-block;
    margin-top: 50px;
    
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
    text-decoration: none;
}
h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}
.div{

    float: right;
    margin-right: 100px;
}
.img{
    margin-left: 200px;
}
.footer{
    padding: 15px;
    background-color: #444;
}
.footer-p:hover{
    text-shadow: black;
}
.header-1{
    background-color: rgb(91, 75, 75);
    color: whitesmoke;
    display: inline-flex;
}
.header-2{
    margin: 40px;
    float: right;
}